/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration-style: none;
}

body {
	font-family: monospace;
	color: #333333;
	margin: 30px 30px 30px 50px;
}

.header-top {
	margin: 35px;
}

.top-text {
	margin: 30px 30px 30px 50px;
}
.strong-top {
	font-size: 30px;
	margin: 5px;
}
.strong-text {
	font-size: 20px;
	margin-right: 5px;
}
.link-top{
	margin: 30px 30px 30px 50px;
}

.index-caram {
	text-align: center;
	font-size: 16px;
}
.link {
	margin: : : 10px;
	text-align: center;
}
td {
	padding: 2px,8px,3px 0;
}















